*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;

}
p{
    font-size: 18px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 15dvw;
    background-color: #1f2937;
    color: white;
    align-items: center;
    font-size: 18px;
}
nav span {
    font-size: 24px;
    font-weight: bold;
}
nav div > *{
    margin: 0px 5px;
}
nav a{
    font-weight:300;
}
.desc{
    background-color: #1f2937;
    color: white;
    height: 56dvh;
    padding:0px  15dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desc h1{
    font-size: 48px;
    color: #f9faf8;
}   
.descDiv {
    width: 40%;
    margin: 0;
    gap: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.button{
    width: 120px;
    background-color: #3882f6;
    height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-weight: 700;
}
.descDiv img{
    width: 100%;
}
.info{
    text-align: center;
    padding: 40px 15dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 150px;
}
.info div{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.info article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 170px;
    color:#1f2937;
}
.info img{
    height: 170px;
    width: 170px;
    border: #3882f6 solid 4px;
    border-radius: 15px;
}
.info h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}